@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: var(--p-font-language);
    position: relative;
}

:root {

    --title-font-language: "Open Sans", sans-serif;
    --p-font-language: "Public Sans", sans-serif;
}

/* grid layout */
.grid_layout {
    max-width: 1253px;
    margin: 5rem auto;
    display: grid;
    grid-template-columns: 20% 80%;
}

.card-wrapper a {
    text-decoration: none;
    color: inherit;
}

/* header */
#logo {
    display: flex;
    align-items: center;
    width: 400px;
}

#logo img {
    width: 150px;
}

header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    box-shadow: 0px 45px 50.9px -10px rgba(0, 0, 0, 0.04);
    margin: auto;
    max-width: 1153px;
    padding: 1rem;
}

menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

menu ul {
    display: flex;
    flex-direction: row;
}

menu li {
    list-style: none;
    margin-left: 1.5rem;
    transition: all ease 0.3s;
    cursor: pointer;
}

menu li:hover {
    box-shadow: inset 0 -1px 0 0 rgb(32, 32, 32);
}

menu a {
    color: rgb(130, 104, 54);
    text-decoration: none;
    font-family: var(--title-font-language);
    font-weight: 400;
}

/* main */
main {
    margin: 0 1.5rem;
}

section {
    margin: 2rem auto;
    max-width: 1256px;
    padding: 10px;
}

section h1 {
    color: var(--h1-color);
    font-family: var(--title-font-language);
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -2.88px;
    margin-bottom: 2rem;
}

section h2,
h3,
h4,
h5 {
    font-family: var(--title-font-language);
}

section p {
    color: #202020;
    font-family: var(--title-font-language);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.96px;
}

.card-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;

}

.card {
    height: 25rem;
    width: 18.5rem;
    padding: 1rem;
    -webkit-box-shadow: 5px 5px 18px -6px rgba(166, 166, 166, 0.89);
    -moz-box-shadow: 5px 5px 18px -6px rgba(166, 166, 166, 0.89);
    box-shadow: 5px 5px 18px -6px rgba(166, 166, 166, 0.89);
    border-radius: 4px;
    transition: all .25s ease-in-out;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    position: relative;
}



.card h6 {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--title-font-language);
}

.card p {
    font-size: 1.5rem;
    font-family: var(--p-font-language);
    margin-bottom: 1rem;
}

.card img {
    height: 60%;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.card .price {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.card .view-product-btn {
    width: 16rem;
    height: 2.5rem;
    background-color: #0d0d0d;
    color: aliceblue;
    border-radius: 6px;
    cursor: pointer;
    border: none;
    transition: all 0.2s ease-in-out;
}

.view-product-btn {
    display: block;
    text-align: center;
    padding: 10px;
    background-color: #007bff;
    text-decoration: none;

}

.card .view-product-btn:hover {
    background-color: #0d4553;
    box-shadow: 5px 5px 18px -6px rgba(166, 166, 166, 0.89);
}

#discounted {
    color: rgb(14, 152, 14);
    font-weight: 600;
}

.original-price {
    color: gray;
    font-size: 0.6em;
}

.original-price del {
    color: gray;
    text-decoration: line-through;
    font-size: 0.9em;
}

#text-bold {
    font-weight: bolder;
}

.basket-btn {
    width: 15rem;
    height: 2.5rem;
    background-color: #141414;
    color: aliceblue;
    border-radius: 6px;
    cursor: pointer;
    border: none;
    position: absolute;
    bottom: 1rem;
    right: 1.75rem;
}

.basket-btn:hover {
    background-color: #1f1d25;
}

.filter {
    background-color: rgb(255, 255, 255);
    min-width: 230px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #e0e0e0;
    -webkit-box-shadow: 5px 5px 18px -6px rgba(166, 166, 166, 0.89);
    -moz-box-shadow: 5px 5px 18px -6px rgba(166, 166, 166, 0.89);
    box-shadow: 5px 5px 18px -6px rgba(166, 166, 166, 0.89);
    border-radius: 4px;
    margin-right: 2rem;
}

#filter-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#filter-list li {
    margin-bottom: 20px;
}


#filter-list input[type="radio"] {
    display: none;
}

#filter-list label {
    display: block;
    padding: 12px 20px;
    background-color: #f8f9fa;
    border: 2px solid transparent;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 600;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
    text-align: center;
}

#filter-list input[type="radio"]:checked+label {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

#filter-list label:hover {
    background-color: #e2e6ea;
    border-color: #007bff;
}

#filter-list input[type="radio"]:focus+label {
    outline: 2px solid #007bff;
}

/* product display */

.product-display {
    max-width: 1253px;
    margin: 5rem auto;
}

.product-container {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 85rem;
    min-height: 30rem;
    padding: 2rem;
    position: relative;
    justify-items: center;
    align-items: center;
}

.product-details {
    width: fit-content;
    padding-left: 2rem;
    position: relative;
    min-height: 30rem;
}

.product-container h1 {
    margin-bottom: 2rem;
}

.product-container p {
    max-width: 25rem;
    margin-bottom: 1rem;
    word-spacing: 0.5rem;
    line-height: 24px;
    letter-spacing: 0.05rem;
    word-spacing: 0.1rem;
    text-align: justify;
}

#price {
    margin-bottom: 1rem;
}

#price h4 {
    font-size: 1.5rem;
}

.size h4 {
    margin-bottom: 1rem;
}

.size .size-button {
    margin-right: 0.5rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-bottom: 1rem;
    border: #007bff;
    cursor: pointer;
    background-color: #f3f3f3;
    transition: all 0.2s ease-in-out;
}

.size .size-button:hover {
    background-color: #0a3641;
    color: white;
    box-shadow: 5px 5px 18px -6px rgba(166, 166, 166, 0.89);
}

.product-img {
    width: 60%;
}

.product-img img {
    width: 100%;
}

.product-container .add-to-cart {
    width: 20rem;
    height: 2.5rem;
    background-color: #0d0d0d;
    color: aliceblue;
    border-radius: 6px;
    cursor: pointer;
    border: none;
    transition: all 0.2s ease-in-out;
}

.product-container .add-to-cart:hover {
    background-color: #0d4553;
    box-shadow: 5px 5px 18px -6px rgba(166, 166, 166, 0.89);
}

.product-details .tags {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.product-details .tags p {
    font-size: 0.8rem;
}

.favorite {
    position: absolute;
    top: 1.2rem;
    right: 1rem;
}

.colors {
    margin-bottom: 1rem;
    display: flex;
    gap: 0.5rem;
}

.colors h4 {
    margin-bottom: 1rem;
}

#color-balls {
    width: 1.5rem;
    height: 1.5rem;
    background-color: red;
    border-radius: 3px;
    cursor: pointer;
    border: #1d2a3f3a 1px solid;
    transition: all 0.3s ease;
}

#color-balls:hover {
    border-radius: 50%;
}

menu li {
    position: relative;
}


#cart-count {
    width: 0%;
    position: absolute;
    left: 6px;
}

.cart {
    width: 25rem;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
    right: 0;
    top: 0rem;
    box-shadow: -22px 10px 43px -31px rgba(0, 0, 0, 0.75);
    z-index: 2;
    padding: 1rem;
    display: none;
}

.cart button {
    width: 2.5rem;
    height: 2.5rem;
    border: rgba(0, 0, 0, 0.069) 1px solid;
    border-radius: 50%;
    position: absolute;
    right: 1rem;
    cursor: pointer;
    background-color: white;
    transition: all 0.2s ease-in-out;
}

.cart button:hover {
    background-color: #e8e8e8;
    box-shadow: inset 0px 0px 5px 0px rgba(215, 215, 215, 0.1);
}

hr {
    margin-bottom: 1rem;
}

.cart h3 {
    position: absolute;
    top: 1.5rem;
}

.cart .product-wrapper {
    position: absolute;
    top: 6rem;
    background-color: white;
    width: 90%;
}

.cart .selected-product {
    display: flex;
    margin-bottom: 1rem;
    background-color: rgb(238, 255, 218);

}


/* popup cart */
.cartBackgr {
    width: 100vw;
    height: 100vh;
    background-color: rgba(63, 111, 92, 0.236);
    z-index: 1;
    position: fixed;
    top: 0rem;
}

.isClicked {
    background-color: #0a3641 !important;
    color: white;
}

.cart-icon {
    position: relative;
    display: inline-block;
    font-size: 24px;
    cursor: pointer;
}

.cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    padding: 2px 6px;
    border-radius: 50%;
    font-size: 12px;
    font-weight: bold;
    display: none;
}

.cart-count.visible {
    display: inline-block;
}

/* Popup background styling */


.checkout-basket {
    position: fixed;
    background-color: rgb(255, 255, 255);
    top: 1rem;
    right: 1rem;
    display: none;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.178);
    width: 30rem;
}

/* Popup content styling */
.popup-content {
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    position: relative;
    width: 100%;
}

/* Close button styling */
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.popup-content #checkout-details {
    max-height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
}

.cart-item {
    display: flex;
    margin: 1rem 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.149);
    padding: 1rem;
}

.cart-item .item-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.item-details h4 {
    text-align: left;
    margin-bottom: 0.5rem;
}

.remove-this-item {
    border: none;
    cursor: pointer;
    height: 1.5rem;
    width: 1.5rem;
    background-color: white;
    transition: all ease-in-out 0.2s;
}

.remove-this-item:hover {
    background-color: rgb(215, 215, 215);
}

.go-to-checkout-btn-style {
    width: 10rem;
    height: 2.5rem;
    background-color: #278e59;
    color: aliceblue;
    border-radius: 6px;
    cursor: pointer;
    border: none;
    transition: all 0.2s ease-in-out;
    margin-top: 1rem;
    border-radius: 0;

}

.go-to-checkout-btn-style:hover {
    background-color: #0d4553;
    box-shadow: 5px 5px 18px -6px rgba(166, 166, 166, 0.89);
}

/*  */

.main-body {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

/* checkout */

.checkout-container {
    max-width: 66vw;
    display: flex;
    gap: 6rem;
    position: relative;
}

.cart-product-container {
    width: 44rem;
}

.selected-product {
    height: 15rem;
    max-width: 44rem;
    margin-bottom: 1rem;
    display: flex;
    padding: 1rem 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.149);
}

#chout-img {
    width: 6.25rem;
}

.quantity-x-wrapper {
    width: 13rem;
    display: flex;
    justify-content: flex-end;
    padding: 0 0.5rem;
    gap: 1rem;
}

.order-img {
    padding: 0 1rem;
}

.selected-product-details h3,
h5 {
    font-weight: 400;
}

.selected-product-details h4 {
    margin: 0.5rem 0;
}

.quantity-selector {
    width: 5rem;
    height: 2.5rem;
    border: solid 1px black;
    padding: 0.5rem;
    cursor: pointer;
}

.remove-btn {
    width: 2.5rem;
    height: 2rem;
    background-color: white;
    cursor: pointer;
    border: solid 0px rgba(0, 0, 0, 0);
}

.remove-btn:hover {
    background-color: #e0e0e0;
}

.selected-product-details {
    width: 30.25rem;
    padding: 0 1rem;
}

.checkout-details {
    background-color: #efeff0;
    width: 18.5rem;
    height: 19.5rem;
    position: sticky;
    top: 0;
    margin-left: auto;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.checkout-details #amount,
#shipping,
#total {
    display: flex;
    margin-bottom: .5rem;
    justify-content: space-between;
    height: 2rem;
    padding: 0.5rem 0;
    width: 100%;
}


.checkout-details #purchase-btn {
    width: 100%;
    height: 2.5rem;
    background-color: #278e59;
    color: aliceblue;
    border-radius: 6px;
    cursor: pointer;
    border: none;
    transition: all 0.2s ease-in-out;
    border-radius: 0;
}

.checkout-details #purchase-btn:hover {
    background-color: #0d4553;
    box-shadow: 5px 5px 18px -6px rgba(166, 166, 166, 0.89);
}

#total p {
    font-weight: 700;
}

.payment-methods-accepted {
    width: 100%;
}

.payment-methods-accepted p {
    font-weight: 200;
    font-size: 0.75rem;
    margin: 0.5rem 0;
}

/* checkout page */
.confirmation-wrapper {
    background-color: #007bff;
    display: flex;
    height: 40rem;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.412);
}

/* right half */

.order-success {
    background-color: #31c07e;
    width: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.success-backgr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.success-backgr img {
    width: 20rem;
}


/* left half */
.order-detail {
    background-color: #f2f2f2;
    width: 25rem;
}

.order-numb {
    background-color: rgb(220, 220, 220);
}

.delivary-cost,
.total-cost,
.sub-total {
    display: flex;
    justify-content: space-between;
}

.order-numb,
.delivery-address,
.billing-address,
.contact-address,
.order-summary {
    margin-bottom: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.149);
    padding: 0.6rem;
}

.delivery-address h4,
.billing-address h4,
.contact-address h4,
.order-summary h4 {
    margin-bottom: 1rem;
}

.delivary-cost h5,
.total-cost h5,
.sub-total h5 {
    margin-bottom: 1rem;
    font-size: .8rem;
}

.total-cost h5,
.total-cost p {
    font-weight: 700;
    font-size: 1rem;
}

.order-numb p {
    font-weight: 800;
    font-size: 1.3rem;
}